# IDE & Config
.vscode
#.vscode/launch.json
_metadata\generated_indexed_rulesets

# Backup & Temporary Files
bak\
*.bak
*.back
*.backup
*.old
*.original
*.broken
digest.txt
*prompt*.txt

# Logs
*.log
debug\console\*.log

# Images
*.png
!manifest.png
*.jpg
debug\window.addEventListener unload - future depreciation.png

# Documentation & Notes
Documentation\notes
Documentation\notes\Gemini-CLI Suggested Performance Issues & Recommendations.md
Documentation\notes\New 1440p bypass plan. Gemini 2.5 flash.md
Documentation\notes\New 1440p bypass plan. Gemini 2.5 pro.md
Documentation\notes\new-feature-plan-2.5-flash.md
Documentation\notes\new-feature-plan-2.5-pro.md
Documentation\notes\plan.md
player.js.documentation - Copy.md
player.js.documentation(Good).html
player.js.documentation.html
player.js.documentation.md

*.txt

# Specific Scripts & Debug Files
player-GabePc.js
debug\console\2253-09c34ee1589cdaff0d97 message handler took violation.js
debug\console\9457-7d5ad8140bbef7f3f5f3  message handler took violation.js
