@charset "utf-8";
:root {
	--tw5-ширинаспискасмайликов: 90rem
	/* --tw5-widthofemojilist: 90rem */
}
.tw-balloon[data-a-target=chat-settings-balloon],
.chat-input__badge-carousel .tw-balloon {
	max-width: unset
}
html .chat-settings__popover {
	max-width: calc(100vw - 2rem);
	width: 43rem
}
.chat-input__badge-carousel div[direction=top-right] {
	right: auto;
	left: 0;
	margin-right: 0
}
.tw-balloon[data-a-target=emote-picker] {
	max-width: calc(100vw - 2rem)
}
html .emote-picker {
	max-width: 100%;
	width: var(--tw5-ширинаспискасмайликов)
	/* width: var(--tw5-widthofemojilist) */
}
.community-points-summary+.tw-transition>div>div>.tw-balloon {
	max-width: unset
}
.reward-center__content {
	max-width: calc(100vw - 2rem)
}
html .viewer-card-layer__draggable {
	width: unset
}
.bttv-rs-popover[class*=bttv-EmoteMenuPopover-module__popover-] {
	top: auto!important;
	left: auto!important;
	right: 1rem!important;
	bottom: 10rem!important;
	max-width: 100vw!important
}
@media (max-width:20.9rem) {
	.bttv-rs-popover[class*=bttv-EmoteMenuPopover-module__popover-] {
		right: 0!important
	}
	div[class*=bttv-Emotes-module__row-] {
		height: auto!important;
		flex-wrap: wrap!important
	}
}
@media (max-height:33em) {
	:root {
		--tw5-высотазаголовка: 0px;
		/* --tw5-headerheight: 0px; */
		--tw5-отступокна: .2rem;
		/* --tw5-windowindent: .2rem; */
		--tw5-нижнийотступчата: .4rem;
		/* --tw5-bottomchatoffset: .4rem; */
		--tw5-высотавводасообщения: var(--button-size-default);
		/* --tw5-messageinputheight: var(--button-size-default); */
		--tw5-вышевводасообщения-в: (var(--tw5-нижнийотступчата) + var(--tw5-высотавводасообщения))
		/* --tw5-abovemessageinput-in: (var(--tw5-bottomchatoffset) + var(--tw5-messageinputheight)) */
	}
	html .stream-chat-header {
		height: var(--tw5-высотазаголовка);
		/* height: var(--tw5-headerheight); */
		overflow: hidden;
		z-index: var(--z-index-default)!important
	}
	.stream-chat-header>div:last-child {
		position: fixed!important;
		bottom: var(--tw5-нижнийотступчата)!important;
		/* bottom: var(--tw5-bottomchatoffset)!important; */
		margin-right: .5rem!important
	}
	html .chat-scrollable-area__message-container {
		padding-bottom: 0!important
	}
	html .chat-input {
		padding-bottom: var(--tw5-нижнийотступчата)!important;
		/* padding-bottom: var(--tw5-bottomchatoffset)!important; */
		margin-right: var(--button-size-default)
	}
	html .chat-input__textarea textarea:empty {
		height: var(--tw5-высотавводасообщения)!important;
		/* height: var(--tw5-messageinputheight)!important; */
		min-height: unset;
		padding-top: .3rem;
		padding-bottom: 0
	}
	html .chat-input__input-icons {
		padding-bottom: 0
	}
	html .chat-input__badge-carousel {
		top: unset!important;
		bottom: 0!important
	}
	.chat-input>div:last-child {
		display: flex;
		align-items: flex-end
	}
	.chat-input>div:last-child>div:first-child {
		flex: 1
	}
	html .chat-input__buttons-container {
		margin-top: 0!important
	}
	.chat-input__buttons-container>div>div>p {
		display: none
	}
	.tw-balloon[data-a-target=chat-settings-balloon],
	.tw-balloon[data-a-target=emote-picker],
	.community-points-summary+.tw-transition>div>div[direction=top-left],
	.bttv-rs-popover,
	.chat-input .ffz-attached--right.ffz-attached--up {
		position: fixed!important;
		top: auto!important;
		right: var(--tw5-отступокна)!important;
		/* right: var(--tw5-windowindent)!important; */
		bottom: calc(var(--tw5-вышевводасообщения-в))!important;
		/* bottom: calc(var(--tw5-abovemessageinput-in))!important; */
		left: auto!important;
		margin: 0!important
	}
	.tw-balloon[data-a-target=chat-settings-balloon] {
		bottom: var(--tw5-отступокна)!important
		/* bottom: var(--tw5-windowindent)!important */
	}
	.chat-input__badge-carousel div[direction=top-right] {
		position: fixed;
		bottom: var(--tw5-отступокна);
		/* bottom: var(--tw5-windowindent); */
		left: var(--tw5-отступокна);
		/* left: var(--tw5-windowindent); */
		margin: 0
	}
	html .chat-settings__popover {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - var(--tw5-отступокна) * 2)!important
		/* max-height: calc(100vh - var(--tw5-windowindent) * 2)!important */
	}
	.chat-settings__popover>.scrollable-area {
		max-height: unset!important
	}
	html .chat-settings__header,
	html .chat-identity-menu__header {
		min-height: unset;
		padding-left: 0!important;
		padding-right: 0!important;
		flex-shrink: 0
	}
	html .emote-picker__search-content {
		padding: 0!important
	}
	.emote-picker__search-content+div {
		max-height: calc(100vh - var(--tw5-вышевводасообщения-в) - 3rem - var(--tw5-отступокна));
		/* max-height: calc(100vh - var(--tw5-abovemessageinput-in) - 3rem - var(--tw5-windowindent)); */
		overflow-y: hidden
	}
	html .emote-grid-section__header-title {
		padding-top: 0!important;
		padding-bottom: .2rem!important
	}
	.emote-picker__content-block>div {
		padding-bottom: .2rem!important
	}
	html .emote-picker__nav-content,
	html .emote-picker__nav-content-whisper,
	html .emote-picker__nav-content-overflow.emote-picker__nav-content-overflow.emote-picker__nav-content-overflow,
	html .emote-picker__nav-content-overflow-whisper,
	html .emote-picker__tab-content,
	html .emote-picker__tab-content-whisper {
		max-height: unset!important;
		height: unset!important
	}
	html .chat-viewers__header {
		height: 3.1rem
	}
	html .chat-viewers__filter {
		position: absolute;
		left: 6rem;
		top: 0;
		margin: 0!important
	}
	html .tw5-parent-channel-leaderboard {
		z-index: var(--z-index-default)!important
	}
	.channel-leaderboard {
		position: absolute;
		top: 0;
		right: calc(12px + var(--button-size-default))
	}
	html .channel-leaderboard-header-rotating,
	html .bits-leaderboard-expanded__header {
		height: unset
	}
	.channel-leaderboard-header-rotating__users+div,
	.bits-leaderboard-expanded__scrollable+div,
	html .bits-leaderboard-expanded__collapse {
		display: none!important
	}
	.channel-leaderboard>div>div:not(.channel-leaderboard-header-rotating) {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - var(--tw5-вышевводасообщения-в) - var(--tw5-высотазаголовка))
		/* max-height: calc(100vh - var(--tw5-abovemessageinput-in) - var(--tw5-headerheight)) */
	}
	html .bits-leaderboard-expanded__scrollable {
		max-height: unset!important
	}
	.community-highlight-stack__scroll-area--disable {
		max-width: 60rem;
		margin-left: auto
	}
	body>div>div>.ReactModal__Content>div[data-popper-placement=top] {
		position: fixed!important;
		top: auto!important;
		right: auto!important;
		bottom: 0!important;
		left: 0!important;
		transform: none!important
	}
	html .chat-rules-content {
		width: unset;
		max-height: calc(100vh - 8px);
		overflow-y: auto
	}
	.viewer-card-mod-logs-page {
		position: fixed;
		top: 0;
		right: 0;
		width: 40rem;
		max-width: calc(100% - 25rem);
		min-height: 100%!important;
		max-height: 100%!important;
		border-left: 1px solid var(--color-border-base)
	}
	.community-points-summary+.tw-transition>div>div[direction=top-left] {
		bottom: calc(0px - var(--tw5-нижнийотступчата))!important
		/* bottom: calc(0px - var(--tw5-bottomchatoffset))!important */
	}
	html .reward-center__content {
		max-height: 100vh
	}
	.reward-center__content>div>.tw-popover-header {
		padding-top: 0!important;
		padding-bottom: 0!important;
		min-height: 0
	}
	.chat-room__viewer-card {
		top: 0
	}
	.bttv-rs-popover[class*=bttv-EmoteMenuPopover-module__popover-] {
		bottom: calc(var(--tw5-вышевводасообщения-в))!important;
		/* bottom: calc(var(--tw5-abovemessageinput-in))!important; */
		height: auto!important
	}
	div[class*=bttv-EmoteMenu-module__header-] {
		padding-top: 0!important;
		padding-bottom: 0!important
	}
	div[class*=bttv-Emotes-module__header-] {
		height: auto!important
	}
	div[class*=bttv-EmoteMenu-module__content-] {
		max-height: calc(100vh - var(--tw5-вышевводасообщения-в) - 37px)
		/* max-height: calc(100vh - var(--tw5-abovemessageinput-in) - 37px) */
	}
	div[class*=bttv-Emotes-module__emotesContainer-] {
		height: 100%!important
	}
	div[class*=bttv-EmoteMenu-module__content-]+.bttv-rs-divider,
	div[class*=bttv-Preview-module__preview-] {
		display: none
	}
	html .ffz--emote-picker {
		width: var(--tw5-ширинаспискасмайликов);
		/* width: var(--tw5-widthofemojilist); */
		display: block!important
	}
	.ffz--emote-picker .emote-picker>.tw-flex {
		max-height: calc(100vh - var(--tw5-вышевводасообщения-в) - 3.7rem - 1px - var(--tw5-отступокна))!important;
		/* max-height: calc(100vh - var(--tw5-abovemessageinput-in) - 3.7rem - 1px - var(--tw5-windowindent))!important; */
		overflow-y: hidden
	}
	.ffz--emote-picker .emote-picker__controls-container {
		display: flex
	}
	.ffz--emote-picker .emote-picker__controls-container>.tw-border-t.tw-pd-1 {
		order: 1;
		padding: 0 .4rem 0 0!important
	}
	.ffz--emote-picker .emote-picker__controls-container>.tw-border-t.tw-pd-1>.tw-flex {
		height: 100%;
		align-items: center
	}
	.ffz--emote-picker .emote-picker__tab-nav-container {
		flex: 1
	}
	.ffz--emote-picker .ffz-input.tw-full-width {
		width: 13em!important
	}
}