@charset "utf-8";
:root {
	color-scheme: light;
	scrollbar-color: #bbb #999a
}
input,
button,
select,
.радио-значок,
/* .radio-icon, */
.флажок-значок {
/* .checkbox-icon */
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	color: #111;
	height: 3.217ex
}
input[type=color],
button {
	border-radius: .125rem;
	padding: 0 .5em;
	background: linear-gradient(to bottom, #fff, #f2f2f2 40%, #e0e0e0 60%, #b3b3b3)
}
input[type=color]:enabled:active,
button:enabled:active {
	background: linear-gradient(to bottom, #b3b3b3, #d9d9d9 40%, #e6e6e6)
}
input[type=color] {
	display: block;
	padding: 0 3px
}
input[type=color]:disabled,
input[type=range]:disabled,
button:disabled,
select:empty {
	opacity: .4
}
input[type=text],
input:not([type]),
select {
	padding: 0 .5em;
	background: #fff;
	scrollbar-color: #aaa #ddd
}
input[type=text]:disabled,
input:not([type]):disabled,
select:disabled {
	color: #666;
	background: #f2f2f2
}
select {
	border-radius: .125rem;
	padding-right: 1.6em;
	background-image: url(player.svg#select);
	background-position: right;
	background-repeat: no-repeat
}
.радио-метка+.радио-метка {
/* .radio-label+.radio-label */
	margin-left: 1em
}
.радио-значок,
/* .radio-icon, */
.флажок-значок {
/* .checkbox-icon */
	display: inline-block;
	width: 1.4167em;
	height: 1.4167em;
	vertical-align: middle;
	background: url(player.svg#radio0) center no-repeat
}
.флажок-значок {
/* .checkbox-icon */
	background-image: url(player.svg#checkbox0)
}
input:checked+.радио-значок {
/* input:checked+.radio-icon */
	background-image: url(player.svg#radio1)
}
input:checked+.флажок-значок {
/* input:checked+.checkbox-icon */
	background-image: url(player.svg#checkbox1)
}
.радио-текст {
/* .radio-text */
	margin-left: .25em;
	vertical-align: middle
}
kbd {
	font: inherit;
	font-weight: 400;
	text-shadow: none;
	border: 1px solid #eee;
	border-bottom-color: #aaa;
	border-radius: .125rem;
	padding: 0 .4em;
	color: #000;
	background: #d5d5df
}
.окно {
/* .window */
	position: absolute;
	z-index: 4;
	margin: .25rem;
	padding: .625rem;
	border-radius: .125rem;
	background: linear-gradient(45deg, rgba(var(--сЦветГрадиента), .05) 40%, rgba(var(--сЦветГрадиента), .25)), rgba(var(--сЦветФона), var(--чНепрозрачностьОкна));
	/* background: linear-gradient(45deg,rgba(var(--sGradientColor),.05) 40%,rgba(var(--sGradientColor),.25)),rgba(var(--sBackgroundColor),var(--nWindowOpacity)); */
	visibility: hidden;
	opacity: 0;
	transform: scale(.8)
}
.окнооткрыто {
/* .windowopen */
	visibility: visible;
	opacity: 1;
	transform: none
}
.анимацияинтерфейса .анимацияокна {
/* .interfaceanimation .windowanimation */
	transition: .15s ease-out;
	transition-property: visibility, opacity, transform
}
.индикаторпрокрутки {
/* .scrollindicator */
	width: 100%;
	height: 3.217ex;
	position: relative;
	top: -.625rem;
	background: url(player.svg#svg-scrolldown) center no-repeat
}
.окнооткрыто .индикаторпрокрутки {
/* .windowopen .scrollindicator */
	animation: 2.5s linear infinite индикаторпрокрутки
	/* animation: 2.5s linear infinite scrollindicator */
}
@keyframes индикаторпрокрутки {
/* @keyframes scrollindicator */
	85% {
		transform: translateY(0)
	}
	90% {
		transform: translateY(.25rem)
	}
	to {
		transform: translateY(0)
	}
}
.тащилка-перехват::after {
/* .dragger-intercept::after */
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000
}
[data-тащилка] {
/* [data-dragger] */
	touch-action: none;
	-webkit-user-select: none;
	user-select: none
}
::backdrop {
	display: none
}
#проигрывательичат:-webkit-full-screen {
/* #playerandchat:-webkit-full-screen */
	width: 100%;
	height: 100%;
	background: 0 0
}
#проигрывательичат:fullscreen {
/* #playerandchat:fullscreen */
	width: 100%;
	height: 100%;
	background: 0 0
}
body {
	background: #000
}
#проигрывательичат {
/* #playerandchat */
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: stretch;
	font: 700 .75rem/1.5 Arial, Helvetica, sans-serif;
	white-space: nowrap;
	color: rgb(var(--сЦветКнопок));
	/* color: rgb(var(--sButtonColor)); */
	text-shadow: 0 .0625rem .0625rem #333
}
#проигрыватель {
/* #player */
	min-width: calc(2.125rem*3.56);
	min-height: calc(2.125rem*2);
	position: relative;
	flex: 1
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]):not(.выборскорости):not(.нетвидео) #проигрыватель {
/* .autohide:not([data-state="3"]):not([data-state="7"]):not([data-window-open]):not(.speedchoice):not(.novideo) #player */
	cursor: none
}
#размерчата:hover,
#размерчата.тащилка {
/* #chatsize:hover, */
/* #chatsize.dragger */
	opacity: 1
}
.анимацияинтерфейса #размерчата {
/* .interfaceanimation #chatsize */
	transition: opacity .35s ease-out
}
#размерчата:hover+#чат {
/* #chatsize:hover+#chat */
	pointer-events: none
}
#чат {
/* #chat */
	min-width: 160px;
	min-height: 188px;
	border: 0
}
.скрытьчат #размерчата,
.скрытьчат #чат {
/* .hidechat #chatsize, */
/* .hidechat #chat */
	display: none
}
#размерчата {
/* #chatsize */
	flex: 0 0 .625rem;
	margin: 0 -.375rem 0 -.25rem;
	background: linear-gradient(to bottom, rgba(var(--сЦветФона), var(--чНепрозрачность)), rgba(var(--сЦветКнопок), var(--чНепрозрачность)), rgba(var(--сЦветФона), var(--чНепрозрачность))) .1875rem 0%/.125rem 100% no-repeat;
	/* background: linear-gradient(to bottom,rgba(var(--sBackgroundColor),var(--nOpacity)),rgba(var(--sButtonColor),var(--nOpacity)),rgba(var(--sBackgroundColor),var(--nOpacity))) .1875rem 0%/.125rem 100% no-repeat; */
	cursor: ew-resize;
	z-index: 6;
	opacity: 0
}
.чатслева #размерчата {
/* .chatleft #chatsize */
	flex: 0 0 .5rem;
	margin: 0 -.4375rem 0 -.0625rem;
	background: linear-gradient(to bottom, rgba(var(--сЦветФона), var(--чНепрозрачность)), rgba(var(--сЦветКнопок), var(--чНепрозрачность)), rgba(var(--сЦветФона), var(--чНепрозрачность))) 0% 0%/.125rem 100% no-repeat
	/* background: linear-gradient(to bottom,rgba(var(--sBackgroundColor),var(--nOpacity)),rgba(var(--sButtonColor),var(--nOpacity)),rgba(var(--sBackgroundColor),var(--nOpacity))) 0% 0%/.125rem 100% no-repeat */
}
.чатслева #проигрывательичат {
/* .chatleft #playerandchat */
	flex-direction: row-reverse
}
.чатвнизу #проигрывательичат {
/* .chatbottom #playerandchat */
	flex-direction: column
}
.чатвверху #проигрывательичат {
/* .chattop #playerandchat */
	flex-direction: column-reverse
}
.чатсправа:not(.автоположениечата) #чат,
.чатслева:not(.автоположениечата) #чат {
/* .chatright:not(.autopositionchat) #chat, */
/* .chatleft:not(.autopositionchat) #chat */
	height: 100%
}
.чатвнизу:not(.автоположениечата) #чат,
.чатвверху:not(.автоположениечата) #чат {
/* .chatbottom:not(.autopositionchat) #chat, */
/* .chattop:not(.autopositionchat) #chat */
	width: 100%
}
.чатвнизу:not(.автоположениечата) #размерчата,
.чатвверху:not(.автоположениечата) #размерчата {
/* .chatbottom:not(.autopositionchat) #chatsize, */
/* .chattop:not(.autopositionchat) #chatsize */
	flex: 0 0 .5rem;
	margin: -.25rem 0;
	background: linear-gradient(to right, rgba(var(--сЦветФона), var(--чНепрозрачность)), rgba(var(--сЦветКнопок), var(--чНепрозрачность)), rgba(var(--сЦветФона), var(--чНепрозрачность))) 0% center/100% .125rem no-repeat;
	/* background: linear-gradient(to right,rgba(var(--sBackgroundColor),var(--nOpacity)),rgba(var(--sButtonColor),var(--nOpacity)),rgba(var(--sBackgroundColor),var(--nOpacity))) 0% center/100% .125rem no-repeat; */
	cursor: ns-resize
}
@media all and (min-aspect-ratio:16/10) {
	.автоположениечата #проигрывательичат {
	/* .autopositionchat #playerandchat */
		flex-direction: row
	}
	.автоположениечата.чатслева #проигрывательичат {
	/* .autopositionchat.chatleft #playerandchat */
		flex-direction: row-reverse
	}
	.автоположениечата #чат {
	/* .autopositionchat #chat */
		height: 100%
	}
}
@media not all and (min-aspect-ratio:16/10) {
	.автоположениечата #проигрывательичат {
	/* .autopositionchat #playerandchat */
		flex-direction: column
	}
	.автоположениечата.чатвверху #проигрывательичат {
	/* .autopositionchat.chattop #playerandchat */
		flex-direction: column-reverse
	}
	.автоположениечата #чат {
	/* .autopositionchat #chat */
		width: 100%
	}
	.автоположениечата #размерчата {
	/* .autopositionchat #chatsize */
		flex: 0 0 .5rem;
		margin: -.25rem 0;
		background: linear-gradient(to right, rgba(var(--сЦветФона), var(--чНепрозрачность)), rgba(var(--сЦветКнопок), var(--чНепрозрачность)), rgba(var(--сЦветФона), var(--чНепрозрачность))) 0% center/100% .125rem no-repeat;
		/* background: linear-gradient(to right,rgba(var(--sBackgroundColor),var(--nOpacity)),rgba(var(--sButtonColor),var(--nOpacity)),rgba(var(--sBackgroundColor),var(--nOpacity))) 0% center/100% .125rem no-repeat; */
		cursor: ns-resize
	}
}
::selection {
	color: #000;
	background-color: rgba(var(--сЦветВыделения), .99);
	/* background-color: rgba(var(--sHighlightColor),.99); */
	text-shadow: none
}
:focus {
	outline: 0
}
hr {
	border: 0;
	padding: 0;
	height: 1px;
	background: linear-gradient(to right, transparent, rgb(var(--сЦветЗаголовка)) 30%, rgb(var(--сЦветЗаголовка)) 70%, transparent)
	/* background: linear-gradient(to right,transparent,rgb(var(--sHeaderColor)) 30%,rgb(var(--sHeaderColor)) 70%,transparent) */
}
a {
	color: inherit
}
a:hover {
	color: rgb(var(--сЦветВыделения))
	/* color: rgb(var(--sHighlightColor)) */
}
.горизвырав {
/* .horizalign */
	display: flex;
	flex-shrink: 0
}
.горизвырав-лево {
/* .horizalign-left */
	flex: 1;
	text-align: left
}
.горизвырав-середина {
/* .horizalign-middle */
	flex: 1;
	text-align: center
}
.горизвырав-право {
/* .horizalign-right */
	flex: 1;
	text-align: right
}
.метка.метка {
/* .label.label */
	color: rgb(var(--сЦветЗаголовка))
	/* color: rgb(var(--sHeaderColor)) */
}
#глаз {
/* #eye */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	-webkit-user-select: none;
	user-select: none
}
#глаз.масштабировать {
/* #eye.scale */
	object-fit: contain
}
.крутилка {
/* .spinner */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 5.375rem;
	height: 5.375rem;
	border-radius: 8%;
	padding: .6875rem;
	background: rgba(var(--сЦветФона), var(--чНепрозрачностьОкна));
	/* background: rgba(var(--sBackgroundColor),var(--nWindowOpacity)); */
	box-shadow: inset 0 .3125rem .625rem rgba(var(--сЦветГрадиента), .1);
	/* box-shadow: inset 0 .3125rem .625rem rgba(var(--sGradientColor),.1); */
	animation: 0s step-end показатьнесразу
	/* animation: 0s step-end showimmediately */
}
body[data-состояние="4"] .крутилка,
body[data-состояние="5"] .крутилка {
/* body[data-state="4"] .spinner, */
/* body[data-state="5"] .spinner */
	animation-duration: .5s
}
@keyframes показатьнесразу {
/* @keyframes showimmediately */
	0% {
		opacity: 0
	}
}
.анимацияинтерфейса .svg-busy {
/* .interfaceanimation .svg-busy */
	transform-origin: center;
	animation: 2s cubic-bezier(.46, .03, .52, .96) infinite загрузка
	/* animation: 2s cubic-bezier(.46,.03,.52,.96) infinite loading */
}
@keyframes загрузка {
/* @keyframes loading */
	80% {
		transform: scaleX(1)
	}
	90% {
		transform: scaleX(0)
	}
}
.панель {
/* .panel */
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	height: 2.125rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, rgba(var(--сЦветГрадиента), 0) 10%, rgba(var(--сЦветГрадиента), .15) 40%, rgba(var(--сЦветГрадиента), .15) 60%, rgba(var(--сЦветГрадиента), 0) 90%), rgba(var(--сЦветФона), var(--чНепрозрачность))
	/* background: linear-gradient(to right,rgba(var(--sGradientColor),0) 10%,rgba(var(--sGradientColor),.15) 40%,rgba(var(--sGradientColor),.15) 60%,rgba(var(--sGradientColor),0) 90%),rgba(var(--sBackgroundColor),var(--nOpacity)) */
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]):not(.выборскорости):not(.нетвидео) .панель {
/* .autohide:not([data-state="3"]):not([data-state="7"]):not([data-window-open]):not(.speedchoice):not(.novideo) .panel */
	pointer-events: none;
	visibility: hidden;
	opacity: 0
}
.анимацияинтерфейса.анимацияпанели .панель {
/* .interfaceanimation.panelanimation .panel */
	transition: .3s ease-out;
	transition-property: visibility, opacity
}
.верхняя {
/* .top */
	top: 0
}
.нижняя {
/* .bottom */
	bottom: 0;
	font-size: .875rem
}
.элементпанели {
/* .panelelement */
	padding: 0 .5rem;
	height: 100%;
	line-height: 2.125rem;
	display: flex;
	align-items: center
}
.многоточие {
/* .ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
	display: unset;
	min-width: calc(2.1em + .5rem*2);
	text-decoration: none
}
.можнотыкать:not(:disabled) {
/* .clickable:not(:disabled) */
	cursor: pointer
}
.можнотыкать:not(:disabled):not(select):hover {
/* .clickable:not(:disabled):not(select):hover */
	color: rgb(var(--сЦветВыделения))!important
	/* color: rgb(var(--sHighlightColor))!important */
}
.можнотыкать:not(:disabled):not(select):active {
/* .clickable:not(:disabled):not(select):active */
	opacity: .9;
	text-shadow: none
}
.пара {
/* .pair */
	margin-left: calc(.42em - .5rem*2)
}
.заполнитель {
/* .filler */
	flex: 1 1000 0
}
.кнопка {
/* .button */
	flex: none;
	border-radius: 0;
	color: inherit;
	background: 0 0!important
}
.кнопка>svg {
/* .button>svg */
	width: 1.375rem;
	height: 1.375rem
}
.кнопка:enabled:active>svg {
/* .button:enabled:active>svg */
	transform: scale(.85)
}
.типтрансляции {
/* .streamtype */
	border-radius: .125rem;
	padding: .1875rem .25rem;
	font-size: .75rem;
	line-height: 1;
	text-shadow: none;
	color: #000;
	background: rgb(var(--сЦветКнопок))
	/* background: rgb(var(--sButtonColor)) */
}
.прямаятрансляция {
/* .livestream */
	text-shadow: unset;
	color: #fff;
	background: #d00
}
.категориятрансляции {
/* .streamcategory */
	flex: 10000 1.5 12em;
	max-width: fit-content
}
#громкость {
/* #volume */
	flex: 0 1 8.125rem;
	min-width: 4.8125rem;
	font-size: 1rem;
	color: inherit;
	background: 0 0!important
}
#громкость::-webkit-slider-runnable-track {
/* #volume::-webkit-slider-runnable-track */
	height: .25rem;
	border: 0;
	border-radius: .0625rem;
	background: linear-gradient(to bottom, currentColor, currentColor) 0 0/var(--ширина, 0%) 100% no-repeat, rgba(var(--сЦветКнопок), .5)
	/* background: linear-gradient(to bottom,currentColor,currentColor) 0 0/var(--width,0%) 100% no-repeat,rgba(var(--sButtonColor),.5) */
}
#громкость::-webkit-slider-thumb {
/* #volume::-webkit-slider-thumb */
	-webkit-appearance: none;
	margin-top: -.3125rem;
	width: .875rem;
	height: .875rem;
	border: 0;
	border-radius: 50%;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .25)), currentColor;
	box-shadow: 0 0 .125rem #000
}
.заполнитель.дляповтора {
/* .filler.forrepeat */
	flex: 0 100 3.75rem
}
#скорость {
/* #speed */
	flex: none;
	line-height: unset;
	height: 1.375rem;
	margin: 0 .5rem;
	color: #000;
	background: rgb(var(--сЦветКнопок));
	/* background: rgb(var(--sButtonColor)); */
	padding: 0 .47em
}
#скорость:not(:disabled):hover {
/* #speed:not(:disabled):hover */
	background-image: linear-gradient(to bottom, rgb(var(--сЦветВыделения)), rgb(var(--сЦветВыделения)))
	/* background-image: linear-gradient(to bottom,rgb(var(--sHighlightColor)),rgb(var(--sHighlightColor))) */
}
.проверкацветафон #проигрыватель {
/* .backgroundcolorcheck #player */
	background: repeating-linear-gradient(to right, #fff, #fff 5px, transparent 5px, transparent 10px), repeating-linear-gradient(to bottom, #fff, #fff 5px, transparent 5px, transparent 10px), #000
}
body[data-состояние="6"]:not(.нетвидео):not(.проверкацвета) .крутилка,
body[data-состояние="8"]:not(.нетвидео):not(.проверкацвета) .крутилка,
body:not([data-состояние="1"]):not([data-состояние="2"]):not([data-состояние="4"]):not([data-состояние="5"]) .svg-busy,
body:not([data-состояние="3"]) .svg-end,
body:not([data-состояние="7"]) .svg-stop,
body:not([data-состояние="6"]):not([data-состояние="8"]) .svg-mute-false,
body:not(.нетвидео) .svg-mute-false,
body:not(.проверкацвета) .svg-settings,
.проверкацвета .крутилка>use:not(.svg-settings),
.проверкацветафон #глаз,
body[data-состояние="8"] .недляповтора,
body:not([data-состояние="8"]) .дляповтора,
.нетвидео #переключитькартинкавкартинке,
.нетзвука #переключитьприглушить,
.нетзвука #громкость {
/* body[data-state="6"]:not(.novideo):not(.colorcheck) .spinner, */
/* body[data-state="8"]:not(.novideo):not(.colorcheck) .spinner, */
/* body:not([data-state="1"]):not([data-state="2"]):not([data-state="4"]):not([data-state="5"]) .svg-busy, */
/* body:not([data-state="3"]) .svg-end, */
/* body:not([data-state="7"]) .svg-stop, */
/* body:not([data-state="6"]):not([data-state="8"]) .svg-mute-false, */
/* body:not(.novideo) .svg-mute-false, */
/* body:not(.colorcheck) .svg-settings, */
/* .colorcheck .spinner>use:not(.svg-settings), */
/* .backgroundcolorcheck #eye, */
/* body[data-state="8"] .notforrepeat, */
/* body:not([data-state="8"]) .forrepeat, */
/* .novideo #togglepictureinpicture, */
/* .nosound #togglemute, */
/* .nosound #volume */
	display: none
}
#шкала {
/* #scale */
	flex: 1 3 25rem;
	min-width: 6rem
}
.шкала-фон {
/* .scale-background */
	flex: 1;
	height: .75rem;
	background: rgba(var(--сЦветКнопок), .3)
	/* background: rgba(var(--sButtonColor),.3) */
}
#шкала-просмотрено {
/* #scale-viewed */
	background: currentColor;
	height: 100%;
	transform-origin: 0
}
#уведомление {
/* #notification */
	position: absolute;
	top: calc(1.25rem + 2.125rem);
	right: calc(1.25rem + 2.125rem);
	width: 4rem;
	height: 4rem;
	border: .15rem solid rgba(255, 255, 255, .35);
	border-radius: 8%;
	padding: .625rem;
	color: rgb(var(--сЦветВыделения));
	/* color: rgb(var(--sHighlightColor)); */
	background: rgb(var(--сЦветФона));
	/* background: rgb(var(--sBackgroundColor)); */
	z-index: 9
}
#уведомление.жопа {
/* #notification.ass */
	border-color: #fcc;
	color: #fff;
	background: red
}
.анимацияинтерфейса #уведомление {
/* .interfaceanimation #notification */
	animation: .3s cubic-bezier(.17, .84, .44, 1) уведомление
	/* animation: .3s cubic-bezier(.17,.84,.44,1) notification */
}
@keyframes уведомление {
/* @keyframes notification */
	0% {
		transform: scale(1.5)
	}
	to {
		transform: none
	}
}
.обновлениерасширения {
/* .extensionupdate */
	left: 0;
	bottom: 2.125rem;
	max-width: 38em
}
.обновлениерасширения-закрыть {
/* .extensionupdate-close */
	float: right;
	margin-left: .5rem;
	padding-left: 0;
	padding-right: 0;
	width: 3.217ex
}
.обновлениерасширения p {
/* .extensionupdate p */
	margin: 0;
	white-space: normal
}
.обновлениерасширения strong {
/* .extensionupdate strong */
	font-weight: inherit;
	color: rgb(var(--сЦветЗаголовка))
	/* color: rgb(var(--sHeaderColor)) */
}
.скрытиерекламы {
/* .adblock */
	position: absolute;
	top: calc(1.25rem + 2.125rem);
	left: calc(1.25rem);
	border: .125rem solid rgba(255, 255, 255, .3);
	border-radius: .125rem;
	padding: .5rem .625rem;
	color: rgb(var(--сЦветВыделения));
	/* color: rgb(var(--sHighlightColor)); */
	background: rgba(var(--сЦветФона), .8);
	/* background: rgba(var(--sBackgroundColor),.8); */
	z-index: 5
}
.анимацияинтерфейса .скрытиерекламы-текст {
/* .interfaceanimation .adblock-text */
	animation: 2s linear infinite реклама
	/* animation: 2s linear infinite ad */
}
@keyframes реклама {
/* @keyframes ad */
	70% {
		opacity: 1
	}
	85% {
		opacity: 0
	}
}
body:not(.реклама) .скрытиерекламы {
/* body:not(.ad) .adblock */
	display: none
}
.канал {
/* .channel */
	right: 0;
	top: 2.125rem;
	max-width: 45em
}
.канал table {
/* .channel table */
	border-spacing: 0
}
.канал th {
/* .channel th */
	width: .0625rem;
	padding-right: 1em;
	font: inherit;
	text-align: right;
	vertical-align: top
}
.канал td {
/* .channel td */
	white-space: normal;
	vertical-align: middle
}
.канал hr {
/* .channel hr */
	margin: .5em 0
}
th.канал-аватар {
/* th.channel-avatar */
	vertical-align: middle
}
.канал-аватар>img {
/* .channel-avatar>img */
	width: 5rem;
	height: 5rem
}
#канал-имя {
/* #channel-name */
	font-size: 1.2em;
	font-weight: bolder;
	line-height: 1;
	margin-bottom: .4em
}
.канал-ссылка[title]:not(:hover) {
/* .channel-link[title]:not(:hover) */
	text-decoration-style: dotted
}
#зритель-подписаться,
#зритель-отписаться {
/* #viewer-subscribe, */
/* #viewer-unsubscribe */
	min-width: 100%
}
.обновляется {
/* .updating */
	pointer-events: none
}
.зритель-уведомлять {
/* .viewer-notify */
	margin-right: 1em
}
#зритель-подписка[data-подписка="0"],
#зритель-подписка:not([data-подписка="1"]) #зритель-подписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) #зритель-отписаться,
#зритель-подписка:not([data-подписка="2"]):not([data-подписка="3"]) .зритель-уведомлять {
/* #viewer-subscription[data-subscription="0"], */
/* #viewer-subscription:not([data-subscription="1"]) #viewer-subscribe, */
/* #viewer-subscription:not([data-subscription="2"]):not([data-subscription="3"]) #viewer-unsubscribe, */
/* #viewer-subscription:not([data-subscription="2"]):not([data-subscription="3"]) .viewer-notify */
	display: none
}
.главноеменю {
/* .mainmenu */
	right: 2.625rem;
	bottom: 2.125rem;
	padding: .625rem 0;
	display: flex;
	flex-flow: column;
	align-items: stretch
}
.меню-секция {
/* .menu-section */
	padding: 0 .625rem
}
.меню-пункт {
/* .menu-item */
	position: relative;
	margin: 0;
	border: 0;
	padding: .1875rem .5rem .1875rem 2.0625rem;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	cursor: pointer
}
.меню-пункт:hover {
/* .menu-item:hover */
	text-shadow: none;
	color: #222;
	background: rgb(var(--сЦветВыделения))
	/* background: rgb(var(--sHighlightColor)) */
}
.меню-пункт[tabindex="-1"] {
/* .menu-item[tabindex="-1"] */
	opacity: .4;
	pointer-events: none
}
.меню-значок {
/* .menu-icon */
	position: absolute;
	left: .125rem;
	top: .1875rem;
	width: 1.125rem;
	height: 1.125rem;
	pointer-events: none
}
.меню-текст {
/* .menu-text */
	pointer-events: none
}
.меню-клавиши {
/* .menu-keys */
	margin-left: 1.5em;
	color: rgb(var(--сЦветЗаголовка));
	/* color: rgb(var(--sHeaderColor)); */
	pointer-events: none
}
.меню-пункт:hover .меню-клавиши {
/* .menu-item:hover .menu-keys */
	color: inherit;
	opacity: .7
}
.поддержать {
/* .support */
	color: rgb(var(--сЦветВыделения))
	/* color: rgb(var(--sHighlightColor)) */
}
.ужатьглавноеменю .главноеменю {
/* .compressmainmenu .mainmenu */
	flex-flow: row;
	right: 0
}
.ужатьглавноеменю .меню-секция:first-child {
/* .compressmainmenu .menu-section:first-child */
	border-right: 1px solid;
	border-image: linear-gradient(to bottom, transparent, rgb(var(--сЦветЗаголовка)) 30%, rgb(var(--сЦветЗаголовка)) 70%, transparent) 1
	/* border-image: linear-gradient(to bottom,transparent,rgb(var(--sHeaderColor)) 30%,rgb(var(--sHeaderColor)) 70%,transparent) 1 */
}
.ужатьглавноеменю .главноеменю hr:first-child {
/* .compressmainmenu .mainmenu hr:first-child */
	display: none
}
.настройки {
/* .settings */
	right: 0;
	bottom: 2.125rem
}
.заголовокнастроек {
/* .settingsheader */
	display: block;
	margin-top: .3125rem;
	border-radius: .125rem;
	padding: .1875rem 0;
	color: #000;
	text-shadow: 0 .0625rem .1875rem rgba(200, 200, 200, .6);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .0625rem;
	font-size: .8334em;
	background: rgb(var(--сЦветКнопок));
	/* background: rgb(var(--sButtonColor)); */
	cursor: pointer
}
.заголовокнастроек:first-of-type {
/* .settingsheader:first-of-type */
	margin-top: 0
}
input:checked+.заголовокнастроек {
/* input:checked+.settingsheader */
	background: rgb(var(--сЦветВыделения));
	/* background: rgb(var(--sHighlightColor)); */
	cursor: default
}
.группанастроек {
/* .settingsgroup */
	height: 16.667em;
	overflow: hidden
}
input:not(:checked)+.заголовокнастроек+.группанастроек {
/* input:not(:checked)+.settingsheader+.settingsgroup */
	height: 0
}
.анимацияинтерфейса .заголовокнастроек,
.анимацияинтерфейса .группанастроек {
/* .interfaceanimation .settingsheader, */
/* .interfaceanimation .settingsgroup */
	transition: .3s cubic-bezier(.22, .61, .36, 1);
	transition-property: background-color, height
}
.настройка {
/* .setting */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: .5rem 0 0
}
.настройка-имя {
/* .setting-name */
	flex: 1;
	margin-right: 2em;
	color: rgb(var(--сЦветЗаголовка))
	/* color: rgb(var(--sHeaderColor)) */
}
.настройка-данные {
/* .setting-data */
	color: #fff
}
.настройка-данные input[type=color],
.настройка-данные button,
.настройка-данные select {
/* .setting-data input[type=color], */
/* .setting-data button, */
/* .setting-data select */
	min-width: 11.2em;
	max-width: 16em
}
.вводчисла-число.вводчисла-число {
/* .numberinput-number.numberinput-number */
	min-width: 5.2em;
	max-width: 5.2em;
	text-align: right
}
.вводчисла-минус.вводчисла-минус,
.вводчисла-плюс.вводчисла-плюс {
/* .numberinput-minus.numberinput-minus, */
/* .numberinput-plus.numberinput-plus */
	min-width: 3em
}
.вводчисла-минус {
/* .numberinput-minus */
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, .12)
}
.вводчисла-плюс {
/* .numberinput-plus */
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: rgba(0, 0, 0, .12)
}
.положениечата {
/* .chatposition */
	position: relative;
	width: 4em;
	height: 4em;
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle
}
.положениечата>label:nth-child(1) {
/* .chatposition>label:nth-child(1) */
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%)
}
.положениечата>label:nth-child(2) {
/* .chatposition>label:nth-child(2) */
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0
}
.положениечата>label:nth-child(3) {
/* .chatposition>label:nth-child(3) */
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0
}
.положениечата>label:nth-child(4) {
/* .chatposition>label:nth-child(4) */
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: 0
}
.ужатьнастройки .заголовокнастроек {
/* .compresssettings .settingsheader */
	margin-top: 2px;
	padding: .0625rem 0
}
.ужатьнастройки .группанастроек {
/* .compresssettings .settingsgroup */
	height: 14.917em
}
.ужатьнастройки .настройка {
/* .compresssettings .setting */
	margin-top: .3125rem
}
.новости {
/* .news */
	right: 0;
	bottom: 2.125rem;
	display: flex;
	flex-direction: column;
	max-height: calc(100% - 2.125rem*2 - .25rem*2)
}
.новости-текст {
/* .news-text */
	max-width: 42em;
	overflow: auto;
	margin-bottom: 1em;
	padding-right: .3em;
	white-space: normal
}
.новости-текст>h4 {
/* .news-text>h4 */
	display: flex;
	justify-content: space-between;
	color: rgb(var(--сЦветЗаголовка))
	/* color: rgb(var(--sHeaderColor)) */
}
.новость-перевести {
/* .news-translate */
	flex: 0 0 1.5em;
	margin: 0 .4em 0 1em;
	background: url(translate.svg) no-repeat
}
.новость-перевести:not(:hover) {
/* .news-translate:not(:hover) */
	opacity: .8
}
.новости-текст>h4,
.новости-текст>p,
.новости-текст ol,
.новости-текст ul {
/* .news-text>h4, */
/* .news-text>p, */
/* .news-text ol, */
/* .news-text ul */
	margin: 1em 0
}
.новости-текст>h4:first-child,
.новости-текст>p:last-child {
/* .news-text>h4:first-child, */
/* .news-text>p:last-child */
	margin: 0
}
.новости-текст ol,
.новости-текст ul {
/* .news-text ol, */
/* .news-text ul */
	padding-left: 1.5em
}
.новости-текст b {
/* .news-text b */
	font-weight: inherit;
	color: rgb(var(--сЦветЗаголовка))
	/* color: rgb(var(--sHeaderColor)) */
}
#открытьновости {
/* #opennews */
	color: rgb(var(--сЦветВыделения))
	/* color: rgb(var(--sHighlightColor)) */
}
.непрочитано>svg {
/* .unread>svg */
	transform-origin: 50% 10%;
	animation: 12.5s linear .5s infinite непрочитано
	/* animation: 12.5s linear .5s infinite unread */
}
.автоскрытие:not([data-состояние="3"]):not([data-состояние="7"]):not([data-окно-открыто]):not(.выборскорости):not(.нетвидео) .непрочитано>svg {
/* .autohide:not([data-state="3"]):not([data-state="7"]):not([data-window-open]):not(.speedchoice):not(.novideo) .unread>svg */
	animation: none
}
@keyframes непрочитано {
/* @keyframes unread */
	.6%,
	3%,
	5.4%,
	7.8%,
	10.2%,
	12.6%,
	15%,
	17.4%,
	19.8%,
	22.2%,
	24.6%,
	27%,
	29.4%,
	31.8%,
	34.2% {
		transform: rotate(30deg)
	}
	1.8%,
	4.2%,
	6.6%,
	9%,
	11.4%,
	13.8%,
	16.2%,
	18.6%,
	21%,
	23.4%,
	25.8%,
	28.2%,
	30.6%,
	33%,
	35.4% {
		transform: rotate(-30deg)
	}
	36% {
		transform: none
	}
}
#статистика {
/* #statistics */
	position: absolute;
	z-index: 2;
	top: var(--y, 2.125rem);
	left: var(--x, 0px);
	font: .75rem/1rem "Roboto Condensed", "Liberation Sans Narrow", "Arial Narrow", Calibri, Arial, Roboto, Helvetica, sans-serif;
	text-shadow: none;
	color: #fff;
	background: rgba(0, 0, 0, .6)
}
#статистика.тащилка {
/* #statistics.dragger */
	outline: .0625rem solid #476685
}
#статистика:not(.тащилка):hover {
/* #statistics:not(.dragger):hover */
	background: #000
}
#статистика.тащилка,
#статистика:hover {
/* #statistics.dragger, */
/* #statistics:hover */
	z-index: 10;
	min-width: 36em;
	max-width: calc(100% - var(--x, 0px))
}
#статистика:not(.тащилка):not(:hover) .статистика-подробно {
/* #statistics:not(.dragger):not(:hover) .statistics-detailed */
	display: none
}
.статистика-кнопка {
/* .statistics-button */
	position: absolute;
	top: 0;
	padding: .5rem .3125rem
}
.статистика-кнопка>svg {
/* .statistics-button>svg */
	width: 1.2rem;
	height: 1.2rem
}
#закрытьстатистику {
/* #closestatistics */
	left: 0;
	cursor: pointer
}
.статистика-переместить {
/* .statistics-move */
	left: 1.825rem;
	cursor: move
}
th[data-тащилка=статистика] {
/* th[data-dragger=statistics] */
	cursor: move
}
.статистика-прокрутка {
/* .statistics-scroll */
	overflow: auto;
	padding: .5em
}
.статистика-главнаятаблица {
/* .statistics-maintable */
	border-spacing: 0
}
.статистика-главнаятаблица>tbody>tr>th {
/* .statistics-maintable>tbody>tr>th */
	border-right: 1px solid #777;
	padding: 0 .5em 0 0;
	font: inherit;
	text-align: right;
	color: #b0c5ee
}
.статистика-главнаятаблица>tbody>tr>td {
/* .statistics-maintable>tbody>tr>td */
	padding: 0
}
.статистика-главнаятаблица>tbody>tr>th+td {
/* .statistics-maintable>tbody>tr>th+td */
	padding-left: .5em
}
.статистика-символ {
/* .statistics-symbol */
	font: 1.2em/1 Calibri, Arial, sans-serif;
	color: #b7b7b7
}
.статистика-выделить {
/* .statistics-highlight */
	font-weight: 700;
	color: #ff6
}
.статистика-анализ {
/* .statistics-analysis */
	border-spacing: .0625rem 0;
	text-align: right
}
.статистика-анализ td {
/* .statistics-analysis td */
	border: .0625rem solid transparent;
	padding: 0
}
.статистика-анализ>tbody>tr:not(:last-child)>td {
/* .statistics-analysis>tbody>tr:not(:last-child)>td */
	border-bottom: 0
}
.статистика-анализ>tbody>tr:not(:first-child)>td {
/* .statistics-analysis>tbody>tr:not(:first-child)>td */
	border-top: 0
}
.анализ-минимум,
.анализ-среднее,
.анализ-максимум,
#статистика:not(.тащилка):not(:hover) .анализ-история:not(.статистика-подробно) {
/* .analysis-minimum, */
/* .analysis-average, */
/* .analysis-maximum, */
/* #statistics:not(.dragger):not(:hover) .analysis-history:not(.statistics-detailed) */
	box-sizing: content-box;
	min-width: 2.05em
}
.анализ-максимум.анализ-максимум {
/* .analysis-maximum.analysis-maximum */
	padding-right: .5em
}
.анализ-история.анализ-история {
/* .analysis-history.analysis-history */
	border-color: #777;
	padding: 0 .125rem
}
.анализ-история:not(.статистика-подробно) {
/* .analysis-history:not(.statistics-detailed) */
	border-color: #f40
}
.анализ-история:empty {
/* .analysis-history:empty */
	display: none
}