@charset "utf-8";
.отладка-сообщение {
/* .debug-message */
	color: #fff;
	background: #6441a5
}
.отладка-отзыв {
/* .debug-feedback */
	color: #fff;
	background: linear-gradient(#1f5cad, #3171c4 18px, #0f2e57) fixed
}
.отладка-ошибка,
.отладка-сбойотправки {
/* .debug-error, */
/* .debug-sendfailure */
	color: #fff;
	background: linear-gradient(#420000, #790303 30px, #4a0000) fixed
}
.отладка-браузерустарел,
.отладка-версияустарела {
/* .debug-browseroutdated, */
/* .debug-versionoutdated */
	color: #fff;
	background: #f40
}
body {
	display: flex;
	font: 15px/1.5 sans-serif
}
form {
	max-width: 62em;
	margin: auto;
	padding: 0 1em;
	text-align: center
}
#отладка-сообщение,
#отладка-отзыв,
#отладка-ошибка {
/* #debug-message, */
/* #debug-feedback, */
/* #debug-error */
	text-align: justify
}
a {
	border-bottom: 1px solid;
	text-decoration: none;
	color: currentColor
}
a:not([href]) {
	display: none
}
.отладка-ссылкакнопка {
/* .debug-linkbutton */
	border-bottom: 1px dashed;
	cursor: pointer
}
a:hover,
.отладка-ссылкакнопка:hover {
/* .debug-linkbutton:hover */
	opacity: .85
}
textarea,
input[type=email] {
	display: block;
	width: 100%;
	line-height: inherit
}
textarea[name=отладка-отчет] {
/* textarea[name=debug-report] */
	font: 13px/1.5 Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace
}
input[type=checkbox]:not(:checked)+[name=отладка-отчет] {
/* input[type=checkbox]:not(:checked)+[name=debug-report] */
	display: none
}
#отладка-текстсообщения {
/* #debug-messagetext */
	white-space: pre-wrap
}
button[type=submit] {
	min-width: 11em;
	margin-right: 1em
}
::selection {
	color: #fff;
	background-color: #1e9628;
	text-shadow: none
}